{% extends "base.html" %}

{% block head %}
<title>gCheat - О Сайте</title>
<link rel="stylesheet" href="static/css/policy_pg.css">
<link rel="stylesheet" href="static/css/about-site_pg.css">
{% endblock %}

{% block body %}
<div class="area" >
<!--HEADER-->
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/сheat-catalog" class="nav-link">Каталог</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link">Профиль</a></li>
    <li class="nav-item"><a href="/about-site" class="nav-link active">О сайте</a></li>
  </ul>
</header>


<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--Я-->
  <div class="container d-flex justify-content-center py-3 mb-5">
    <div class="col-lg-4 text-center">
      <img width="140" height="140" src="static/img/mee-round.webp" class="mb-3">
      <h2 class="fw-normal">Coded by goodstealing</h2>
      <p>Благодаря энтузиазму, я создал проект, который позволил мне погрузиться в мир веб-разработки. В процессе его создания я освоил <span class="gray-text">HTML</span>, <span class="gray-text">CSS</span>, прикоснулся к <span class="gray-text">JavaScript</span> и <span class="gray-text">Flask</span>.</p>
      <p><a class="btn btn-secondary mb-5" href="https://github.com/goodstealing" target="_blank">github »</a></p>
    </div>
  </div>

<!--FOOTER-->
<footer class="container">
  <p>© 2024 gCheat. Все права защищены.
    <a href="/policy" style="text-decoration: none;">Политика</a>
  </p>
</footer>

<!--АНИМАЦИЯ БОКСОВ-->
<ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
</ul>
</div >
{% endblock %}