{% extends "base.html" %}

{% block head %}
<title>gCheat - Minecraft Wurst</title>
{% endblock %}


{% block body %}

<body>
  <header class="d-flex justify-content-center py-3 mb-5">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">На главную</a></li>
    </ul>
  </header>



  <footer class="container">
    <p>© 2024 gCheat. Все права защищены.
      <a href="/policy" style="text-decoration: none;">Политика</a>
    </p>
  </footer>


</body>

{% endblock %}