{% extends "base.html" %}

{% block head %}
<title>gCheat - Политика</title>
<link rel="stylesheet" href="static/css/policy_pg.css">
{% endblock %}

{% block body %}
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">На главную</a></li>
  </ul>
</header>

<div class="disclaimer-container">
  <p class="disclaimer-text">
    Отказ от ответственности: Команда gCheat предоставляет программное обеспечение и услуги исключительно в <span
      class="keyword">образовательных</span> и <span class="keyword">развлекательных целях.</span> Мы строго не
    рекомендуем использовать наши продукты в целях обмана, нарушения правил или законов игровых платформ. Мы не несём
    ответственности за любые последствия, включая, но не ограничиваясь, <span class="keyword">блокировку</span> или
    <span class="keyword">бан</span> аккаунтов, возможную утрату данных или другие негативные последствия, возникшие в
    результате использования наших продуктов. Пожалуйста, используйте наши инструменты ответственно и с уважением к
    правилам сообщества и законам.
  </p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- FOOTER -->
<footer class="container">
  <p class="float-end"><a href="/policy" style="text-decoration: none;"></a></p>
  <p>© 2024 gCheat. Все права защищены.
    <a href="/" style="text-decoration: none;">Главная</a>
  </p>
</footer>
{% endblock %}