{% extends "base.html" %}

{% block head %}
<title>gCheat - Rust Phoenix</title>
{% endblock %}


{% block body %}

<body>
  <header class="d-flex justify-content-center py-3 mb-5">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">На главную</a></li>
    </ul>
  </header>

  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Rust - Phoenix</span>
      </a>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Подписки</h1>
      <p class="fs-5 text-body-secondary">Phoenix доступен по ежемесячной подписке. Ниже представлены цены и особенности подписки.</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Бесплатный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/мес.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Старый repo</li>
              <li>20 часов использования</li>
              <li>Риск блокировки</li>
              <li>Детект античитом</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Скачать github(old)</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Премиум</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/мес.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Стабильный repo</li>
              <li>300 часов использования</li>
              <li>Анти обнаружение</li>
              <li>Анти детект</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Вип</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/мес.</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Новейший repo</li>
              <li>Безлимитное использование</li>
              <li>Полная неуязвимость</li>
              <li>Экстренная кнопка</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Phoenix - Характеристики подписок</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Бесплатный</th>
            <th style="width: 22%;">Премиум</th>
            <th style="width: 22%;">Вип</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Public ветка github</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Private ветка github</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Исходный код</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Поддержка</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Anti-EasyAntiCheat</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Дополнительная безопасность</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

</div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer class="container mb-5">
  <p class="float-end"><a href="#" style="text-decoration: none;">Вверх</a></p>
    <p>© 2024 gCheat. Все права защищены.
      <a href="/policy" style="text-decoration: none;">Политика</a>
    </p>
  </footer>


</body>

{% endblock %}