.link {
  text-decoration: none;
  color: #676a6d;
  transition: color 0.3s ease; /* плавный переход цвета при изменении */
}

.link:hover {
  color: #0d6efd;
  animation: shake 0.5s;
}


.gray-btn {
    color: white;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    padding: 10px; /* Добавляет отступ внутри контейнера */
    background-color: #6c757d; /* Заливка внутри контейнера */
    text-decoration: none;
    transition: color 0.3s ease;
}

.gray-btn:hover {
  background-color: #0d6efd;
  animation: shake 0.5s;
}

body{
  white-space: nowrap;
}