{% extends "base.html" %}
🗣️
{% block head %}
<title>gCheat - О сайте</title>
{% endblock %}

🧘
{% block body %}
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/сheat-catalog" class="nav-link">Каталог</a></li>
    <li class="nav-item"><a href="/profile" class="nav-link">Профиль</a></li>
    <li class="nav-item"><a href="/about-site" class="nav-link active">О сайте</a></li>
  </ul>
</header>
{% endblock %}